.sidebar-dark-primary{
    background-color: #3c4296 !important;
}
.logo-inicio {
    max-height: 300px;
    max-width: 300px;
}

.logo-sidebar {
    width: 200px;
}
.btn-filtro{
    margin-left: 8px;
}

.migasdepan{
 margin: 10px 5pc 0px 10px;
}
.btn-accion{
   padding: 0;
    margin: 0 4px 0 4px;
}
.text-center {
    text-align: center !important;
}

.blockfilter{
    display:block !important;
}
.inputfilter{
    float:left;
}

.img-table-custom{
    width: 150px;
    height: 150px;
}
.img-show-custom{
    width: 300px;
    height: 300px;
}
.chartjs{

}
.card-ventas{

}
.ventasescritorio{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 200px;
}